footer {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-left: 10px;
}

.footerIcons {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.footerIcons .fa-icon {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footerIcons .fa-icon:hover {
  color: #0077b5;
}
